{
  "plugins": ["@design-system-ui/prettier-plugin-sort-imports"],
  "semi": false,
  "tabWidth": 2,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "none",
  "jsxBracketSameLine": false,
  "importOrder": [
    "^@design-system-constants/(.*)$",
    "^@design-system-lib/(.*)$",
    "^@design-system-modules/(.*)$",
    "^@design-system-types/(.*)$",
    "^@design-system-ui/(.*)$",
    "^@design-system-utils/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}